h1 {
  text-align: center;
}
div {
  margin: auto;
  width: 268px;
}
button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
}

input {
  padding: 10px 10px;
  margin-right: 10px;
}

ul {
  margin: 0;
  padding: 0;
  margin-top: 25px;
}
h4 {
  margin-bottom: 5px;
}
li button {
  background-color: red;
}
li {
  margin-top: 5px;
  list-style: none;
  display: flex;
}
.line-strike {
  text-decoration: line-through;
}
li span {
  flex: 1;
  font-size: 20px;
}
